#reviewsoutside {
	max-width: none;
	padding: 0;
	width: 100%
}

/* Main title */
#reviewsoutside .title-comments {
	color: #292929;
	font-family: Jost;
	font-weight: 700;
	font-size: 42px;
	margin-bottom: 18px;
	margin-top: 20px;
	text-align: center;
}

@media screen and (max-width: 540px) {
	#reviewsoutside .title-comments {
		font-size: 30px;
	}
}

#reviewsoutside #stamped-main-widget {
	margin: 0
}

#reviewsoutside .stamped-container {
	max-width: none;
	margin: 30px auto;
	border: none;
	padding: 0
}

@media screen and (max-width: 768px) {
	#reviewsoutside .stamped-container {
		margin: 0 auto
	}
}

/* The action where the header buttons are */
#reviewsoutside .stamped-container .stamped-summary-actions {
	top: 150px !important;
	position: absolute;
	z-index: 3;
	right: unset;
	bottom: 0;
	right: calc(50% + 85px);
}

/* The action write a review button */
#reviewsoutside .stamped-container .stamped-summary-actions .stamped-summary-actions-newreview::before {
	content: '';
}
#reviewsoutside .stamped-container .stamped-summary-actions .stamped-summary-actions-newreview{
	padding: 6px 30px;
	border: 2px solid #292929;
	border-radius: 50px;
	font-family: Jost;
	font-weight: 500;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}

#reviewsoutside .stamped-container .stamped-summary {
	display: flex;
	justify-content: space-between;
	margin-bottom: 80px;
}

/* header rating stars */
#reviewsoutside .stamped-container .stamped-summary-ratings .summary-rating .summary-rating-title::before {
	color: #DA9187 !important;
}

/* header big rating number */
#reviewsoutside .stamped-container .stamped-summary .summary-overview .stamped-summary-caption .stamped-summary-caption-1 .stamped-summary-text-1 {
	font-family: Georgia;
	font-size: 36px;
	font-weight: 700;
}

/* the header raiting bar besides the starts */
#reviewsoutside .stamped-container .stamped-summary-ratings .summary-rating .summary-rating-bar {
	display: none;
}

/* header raiting starts under the big raiting number */
#reviewsoutside .stamped-container .stamped-summary .summary-overview .stamped-starrating .stamped-summary-starrating .stamped-fa .stamped-fa-star {
	color: #DA918A !important;
}

/* Header "based on" review text */
#reviewsoutside .stamped-container .stamped-summary .summary-overview .stamped-summary-caption .stamped-summary-caption-2 .stamped-summary-text {
	font-size: 16;
	font-weight: 400;
	font-family: Jost;
}
